﻿<!DOCTYPE html>

@{
    var dict = new[]
    {
        new { Method = "Ping", Body = "", Params = new object[]{}, Response = "string", QueryType = "GET" },
        new { Method = "Find", Body = "", Params = new object[]{"string key"}, Response = "KeyValue", QueryType = "GET" },
        new { Method = "Select", Body = "", Params = new object[]{"string[] keys (keys=key1&keys=key2...)"}, Response = "KeyValue[]", QueryType = "GET" },
        new { Method = "Create", Body = "KeyValue", Params = new object[]{}, Response = "", QueryType = "POST" },
        new { Method = "CreateAll", Body = "KeyValue[]", Params = new object[]{}, Response = "", QueryType = "POST" },
        new { Method = "Update", Body = "", Params = new object[]{"key","value"}, Response = "", QueryType = "POST" },
    };
}

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @foreach (var d in dict)
    {
        <div>
            @string.Format("Url: /study/{0}", d.Method)
        </div>
        <div>
            @string.Format("Type: {0}", d.QueryType)
        </div>
        <div>
            @string.Format("Body: {0}", d.Body)
        </div>
        <div>
            @string.Format("Response: {0}", d.Response)
        </div>
        <div>
            @string.Format("Params: {0}", string.Join(",", d.Params))
        </div>
        <div>_________________________________________________</div>
    }
</div>
</body>
</html>
